<%= render 'layouts/dashboard' %>
<div id="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col col-md-6 offset-md-3">
				<!-- Errors partial -->
                <%= render 'teas/error_messages' %>
				<h2 class="text-center text-success">Ajouter un nouveau thé</h2>
				<hr>

				<!-- Zone du formulaire -->
				<%= form_tag url_for(action: 'create'), method: "post", class: "user" do %>
				<div class="form-group">

					<%= text_field_tag 'name', @tea.name, placeholder: "Nom du thé..", class: "form-control form-control-user" %>

					<%= select_tag 'fermentation',options_for_select(["Thé blanc", "Thé vert", "Thé Oolong", "Thé noir", "Matcha"]), class: "form-control p-2 mt-3", style: "border-radius: 30px;" %>

					<%= text_field_tag 'infusion_time', @tea.infusion_time, placeholder: "Temps d'infusion (en minutes)..", class: "form-control form-control-user mt-3" %>

					<%= text_field_tag 'location', @tea.location, placeholder: "Provenance du thé..", class: "form-control form-control-user mt-3" %>

					<%= text_field_tag 'brand', @tea.brand, placeholder: "Marque..", class: "form-control form-control-user mt-3" %>

					<%= text_area_tag 'description', @tea.description, placeholder: "Petite description (goût, conseils)..", class: "form-control form-control-user mt-3", style: "border-radius: 20px;" %>
					
					<%= label_tag 'Note sur 5 :', nil, class: "mt-3" %>
					<%= select_tag 'grade',options_for_select([1, 2, 3, 4, 5]), class: "form-control p-2", style: "border-radius: 30px;" %>

					<%= submit_tag "✅ Ajouter", class: "btn btn-success btn-user btn-block mt-3" %>

					<% end %>
				</div>
			</div>	
		</div>
	</div>
</div>