<section class="form">
  <div class="login-form">
    <div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

      <h2>Changer votre mot de passe</h2>
      <hr>

      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="txtb">
        <%= f.label " "  %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "Nouveau mot de passe" %>
      </div>

      <div class="txtb">
        <%= f.label " " %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmer le nouveau mot de passe" %>
      </div>

      <div class="actions">
        <%= f.submit "Changer mon mot de passe", class: "logbtn" %>
      </div>
      <% end %>
    </div>

    <div class="bottom-text">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
