<section class="form">
  <div class="login-form">
    <div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <h2 class="text-success">Connexion</h2>
      <hr>

      <div class="txtb">
        <%= f.label " " %><br />
        <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="txtb">
        <%= f.label " " %><br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Mot de passe" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field mt-4">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Je me connecte", class: "btn btn-success logbtn" %>
      </div>
      <% end %>
    </div>

    <div class="bottom-text">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</section>
