<!DOCTYPE html>
<html>
  <head>
    <title>Addict Tea</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <%= favicon_link_tag asset_path('logo.png') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Box Icon -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.3/css/boxicons.min.css' rel='stylesheet'>

  </head>

  <body>
    <!-- Flash messages -->
    <%= render 'layouts/flash' %>
    <%= yield %>

    <!-- Application.js -->
    <%= javascript_include_tag 'application' %>

    <!-- Box Icon JS -->
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
  </body>
</html>
